.createTopic{
    width: 80%;
    padding: 2rem;
    background-color: #f8f5f2;
    box-shadow: 0px 0px 1px 0px rgb(0, 0, 0);
}

.inputBox {
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    border: none;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.input:focus {
    outline: none;
}

.input ~ .inputBorder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
}

.area-border{
    position: absolute;
    bottom: 8px !important;
    left: 0;
    width: 0;
    height: 1px;
}

.input:focus ~ .inputBorder {
    width: 100%;
    transition: 0.4s;
}

.inputBorder {
    border: 1px solid #f45d48;
}

.red{
    color: indianred;
}